{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
    <div>
        <a href="/add_job" class="btn btn-secondary">Add job</a>
        <a href="/departments" class="btn btn-secondary">List of depatments</a>
    </div>
{% endif %}
<center>
    <h3>Works log</h3>
</center>
{% for job in jobs%}
<h3>Action # {{loop.index}}</h3>
<table style="margin-left:40px;">
    <tr bgcolor="#C8C9CA">
        <th style="padding-right: 40px;">Title of activity</th>
        <th style="padding-right: 40px;">Team leader</th>
        <th style="padding-right: 40px;">Duration</th>
        <th style="padding-right: 40px;">List of collaborators</th>
        <th>is finished</th>
        <th>id of work</th>
    </tr>
    <tr bgcolor="#E6E6FA">
        <td style="padding-right: 40px;">{{job.job}}</td>
        <td style="padding-right: 40px;">{{job.user.name}} {{job.user.surname}}</td>
        <td style="padding-right: 40px;">{{job.work_size}}</td>
        <td style="padding-right: 40px;">{{job.collaborators}}</td>
        {%if job.is_finished%}
        <td style="padding-right: 40px;" bgcolor="#7CFC00">is finished</td>
        {%else%}
        <td style="padding-right: 40px;" bgcolor="#FA8072">is not finished</td>
        {%endif%}
        <td style="padding-right: 40px;">{{job.id}}</td>
    </tr>
</table>
{% if current_user.is_authenticated and current_user == job.user or current_user.id == 1 %}
    <div>
        <a href="/job/{{ job.id }}" class="btn btn-warning">Edit job</a>
        <a href="/job_delete/{{ job.id }}" class="btn btn-danger">Delete job</a>
    </div>
{% endif %}
{% endfor %}
{% endblock %}
